/*color del navbar supuestamente*/ 
.encabezado .navbar {
background-color: #0a709cb0 !important;
}
/*para que el carrucel me salga completo*/
.container-carousel{
    background-color: #d4d7e3 !important;
    }

/*agranda los titulos h2*/ /*
.h2, h2 {
margin-bottom: .5rem;
font-weight: 800;
line-height: 1.2;
}
*/


/*Navbar inteligente*/ 
.smart-scroll{
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 1030;
}
.scrolled-down{
transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
transform:translateY(0); transition: all 0.3s ease-in-out;
}
 
/*fin del navbar inteligente*/ 

/*para que las letras del carrucel no desaparescan*/
.d-none {
display:unset !important;
}


/*color del cuerpo de la pagina*/ 
body{
background-color: #dbcfb5;
}
